
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: grey;
  font-family: 'Baloo Bhai 2', sans-serif;
}
#quote-box{
  background-color: #fff;
  width: 40rem;
  margin: 10rem auto;
  padding: 3rem;
  border-radius: 8px;
  box-shadow: 2px 2px 2px rgb(47, 47, 47);
  /*640px */
}
#text{
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
#author{
  display: flex;
  justify-content: flex-end;
  font-size: 1.2rem;
}
#buttons{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}

button{
  color: #fff;
  padding: .9rem .3rem;
  font-size: .9rem;
  font-weight: bold;
  background-color: rgb(0, 200, 255);
  border: none;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  box-shadow: 2px 2px 2px rgb(45, 45, 45);
}